<p id="notice"><%= notice %></p>

<h1>Welcome to our Recipe site</h1>

<div class="container">
  <div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col col-4 mt-4 text-center" style="border: solid black 1px">
      <%= image_tag recipe.image.variant(resize_to_limit: [240, 240]), 
                                        class: "decorative", alt: "" 
                                        %>
      <br />
      <%= recipe.name %>
    </div>
  <% end %>
  </div>
</div>