@charset "utf-8";

@import "reset/normalize";

@import "selectize";
@import "datetime_picker";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";
@import "trix/dist/trix";

.tab-content {
  .tab-pane {
    display: none!important;
  }
  .active {
    display: block!important;
  }
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  .nav-item {
    margin-bottom: -1px;
  }
}
