// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import "bootstrap";
@import "*";

.card-title {
  background-color: #8F98CC;

}
.card-body {
  border: solid #ccc 1px;
  border-radius: 7px;
  overflow: hidden;
}
.card-img-bottom {
  max-height: 240px;
  height: 240px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}