  
<p id="notice"><%= notice %></p>

<h1>Categories</h1>

    <% @cards.each do |card| %>
    <div class="card" style="width:400px">
    
      <div class="card-body">
        <h4 class="card-title text-center">
          <%= link_to card.keys.first.to_s, category_path(card.keys.first.downcase.to_param), class: "stretched-link" %>
        </h4>
        <p class="card-text">
          <%= image_tag card.values.first.image.variant(resize_to_limit: [240, 240]), 
                                          class: "card-img-top",
                                          style: "max-width:100%;min-width:100%;width:100%"
                                          %>
        </p>
      </div>
    </div>
    <% end %>