  
<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row mt-4">
    <% @cards.each do |card| %>
    <div class="col-4 card p-2" style="border: 0">
    
      <div class="card-body p-0">
        <h4 class="card-title text-center p-2 mb-0">
          <%= link_to card.keys.first.to_s, category_path(card.keys.first.to_s.parameterize), class: "stretched-link", style: "color: black" %>
        </h4>
        <p class="card-text">
          <%= image_tag card.values.first.image.variant(resize_to_limit: [240, 240]), 
                                          class: "card-img-bottom"
                                          if card.values.first.image.present? %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>