<p id="notice"><%= notice %></p>

<div class="container">
<h1><%= @category.name %></h1>
  <div class="row mt-4">
    <% @recipes.each do |recipe| %>
    <div class="col-4 card p-2" style="border: 0">
    
      <div class="card-body p-0">
        <h4 class="card-title text-center p-2 mb-0">
          <%= link_to recipe.name, recipe, class: "stretched-link", style: "color: black" %>
        </h4>
        <p class="card-text">
          <%= image_tag recipe.image.variant(resize_to_limit: [240, 240]), 
                                          class: "card-img-bottom"
                                          %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>