<div class="nav navbar nav-fill" style="background-color: #32396C">
  <div class="container">
  <!-- 
    <div class="btn-group ml-2 dropdown nav-item">
      <%# link_to "Recipes", recipes_path, style: "color:white;font-size:150%" %>
    </div>
  -->
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Recipes", categories_path, style: "color:white;font-size:150%" %>
    </div>
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Admin", admin_recipes_url, style: "color:white;font-size:150%" %>
    </div>
    <% if current_user %>
    <div class="btn-group ml-2 dropdown nav-item">
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
    <% end %>

  </div>
</div>
<div style="background-color: #7E88C4; height:14px; width:100%;border-bottom: solid black 0px;"></div>