<div class="nav navbar nav-fill" style="background-color: olive;">
  <div class="container">
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Recipes", recipes_path, style: "color:black;font-size:150%" %>
    </div>
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Categories", categories_path, style: "color:black;font-size:150%" %>
    </div>
  </div>
</div>