<div class="nav navbar nav-fill" style="background-color: olive;">
  <div class="container">
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Recipes", recipes_path, style: "color:black;font-size:150%" %>
    </div>
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Categories", categories_path, style: "color:black;font-size:150%" %>
    </div>
    <div class="btn-group ml-2 dropdown nav-item">
      <%= link_to "Admin", admin_recipes_url, style: "color:black;font-size:150%" %>
    </div>
  </div>
</div>
<div style="background-color: gold; height:14px; width:100%;border-bottom: solid black 1px;"></div>